*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.run.xml
*.bcf
*.tex.backup
*.tex~
*.swp
*.swo
*.pdfsync
*.thm
*.spl
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
**/settings.json
code/All_Sky_images.zip
code/All_Sky_images/
code/epb/
code/models/epb_recognition_model.pkl
code/__pycache__/*
code/data/has-epb/*
code/data/no-epb/*
code/data/all-images/*
code/data/*.zip
imagens-de-bolhas/*.zip
code/util/**/*.tif
code/util/**/*.png
code/util/**/*.mp4
